/* Estilos Index */
@font-face {
    font-family: "Sublima-Bold-Italic";
    src: url("fuentes/Sublima-ExtraBoldItalic.otf");
}
@font-face {
    font-family: "Sublima-Italic";
    src: url("fuentes/Sublima-ExtraLightItalic.otf");
}
@font-face {
    font-family: "Sublima-Bold";
    src: url("fuentes/Sublima-ExtraBold.otf");
}
/* Estilos body */
body{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
/* Fin estilos body */

/* Estilo Header */
#headerIndex{
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header > h1{
    margin-left: 10px;
    font-family: Sublima-Bold-Italic;
}
header > h2{
    font-family: Sublima-Bold;
}
.infoHeaderSection{
    margin-top: 10px;
    margin-right: 10px;
    width: 51px;
    height: 51px;
}
.infoHeaderSection:hover{
    cursor: pointer;
}
/* Fin Estilos Header */

/* Estilos Main */
main{
    font-family: Sublima-Bold-Italic;
}
.opcion{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 1%;
}
/* Fins estilos Main */











/* ----------------------------------------------------------------------------- */
/* Estilos Hoteles */

/* Estilo Header */